@import "../consts";

.button {
  border: 3px solid $color-primary;
  padding: 0.5em 0.8em;
  font-family: $font-family-secondary;
  font-weight: 700;
  font-size: 2em;
  box-shadow: 4px 4px 10px #888b;

  &:active:hover {
    background-color: $color-primary-translucent;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $color-primary-very-translucent;
  }
}
