@import "../consts";

.footer {
  height: $footer-height;
  @include breakpoint-medium {
    height: $footer-height-medium;
  }
  @include breakpoint-large {
    height: $footer-height-large;
  }

  position: fixed;
  will-change: transform;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 2em 0;
  justify-items: center;
  width: 100%;

  display: grid;
  grid-template:
    "github" auto
    "madeby" auto / auto;
  row-gap: 1em;
}
