.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 2em 0;
  justify-items: center;
  width: 100%;

  display: grid;
  grid-template:
    "github" auto
    "madeby" auto / auto;
  row-gap: 1em;
}
