@import "./consts";

html {
  font-size: 10px;
}

body {
  font: 100% $font-stack;
  background-color: $background-color;
  color: $color-text;
  font-family: $font-family-primary;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

h1 {
  font-size: $font-size-huge;
  font-family: $font-family-secondary;
  font-weight: 300;
  color: $color-primary;
  line-height: 1.5em;

  @include breakpoint-small {
    font-size: calc(#{$screen-small-multiplier} * #{$font-size-huge});
  }

  @include breakpoint-medium {
    font-size: calc(#{$screen-medium-multiplier} * #{$font-size-huge});
  }

  @include breakpoint-large {
    font-size: calc(#{$screen-large-multiplier} * #{$font-size-huge});
  }

  @include breakpoint-xlarge {
    font-size: calc(#{$screen-xlarge-multiplier} * #{$font-size-huge});
  }
}

h2 {
  font-size: $font-size-big;
  font-family: $font-family-primary;
  font-weight: 300;
  color: $color-primary;
  line-height: 1.5em;

  @include breakpoint-small {
    font-size: calc(#{$screen-small-multiplier} * #{$font-size-big});
  }

  @include breakpoint-medium {
    font-size: calc(#{$screen-medium-multiplier} * #{$font-size-big});
  }

  @include breakpoint-large {
    font-size: calc(#{$screen-large-multiplier} * #{$font-size-big});
  }

  @include breakpoint-xlarge {
    font-size: calc(#{$screen-xlarge-multiplier} * #{$font-size-big});
  }
}

h3 {
  font-size: $font-size-medium;
  font-family: $font-family-primary;
  font-weight: 300;
  line-height: 1.5em;

  $testvar: 2;

  @include breakpoint-small {
    font-size: calc(#{$screen-small-multiplier} * #{$font-size-medium});
  }

  @include breakpoint-medium {
    font-size: calc(#{$screen-medium-multiplier} * #{$font-size-medium});
  }

  @include breakpoint-large {
    font-size: calc(#{$screen-large-multiplier} * #{$font-size-medium});
  }

  @include breakpoint-xlarge {
    font-size: calc(#{$screen-xlarge-multiplier} * #{$font-size-medium});
  }
}

p,
li {
  line-height: 1.5em;
  font-size: $font-size-small;

  @include breakpoint-small {
    font-size: calc(#{$screen-small-multiplier} * #{$font-size-small});
  }

  @include breakpoint-medium {
    font-size: calc(#{$screen-medium-multiplier} * #{$font-size-small});
  }

  @include breakpoint-large {
    font-size: calc(#{$screen-large-multiplier} * #{$font-size-small});
  }

  @include breakpoint-xlarge {
    font-size: calc(#{$screen-xlarge-multiplier} * #{$font-size-small});
  }
}

a {
  color: $color-primary;
}

.hidden {
  display: none !important;
}
