@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300;400&display=swap");

$font-stack: Helvetica, sans-serif;
$color-text: #333;
$color-primary: #f35321;
$color-primary-very-translucent: #f3532122;
$color-primary-translucent: #f3532188;
$background-color: #eaeaea;
$color-card: #f8f8f8;

$font-size-small: 1.8rem;
$font-size-medium: 2.4rem;
$font-size-big: 3.6rem;
$font-size-huge: 4.8rem;

$screen-small-multiplier: 1.1;
$screen-medium-multiplier: 1.2;
$screen-large-multiplier: 1.3;
$screen-xlarge-multiplier: 1.4;

$font-family-primary: "Abel", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

$footer-height: 10rem;
$footer-height-medium: 10rem;
$footer-height-large: 10rem;
$navbar-height: 6rem;

$screen-small-min: 480px;
$screen-medium-min: 768px;
$screen-large-min: 1024px;
$screen-xlarge-min: 1400px;

// Small devices
@mixin breakpoint-small {
  @media (min-width: $screen-small-min) {
    @content;
  }
}

// Medium devices
@mixin breakpoint-medium {
  @media (min-width: $screen-medium-min) {
    @content;
  }
}

// Large devices
@mixin breakpoint-large {
  @media (min-width: $screen-large-min) {
    @content;
  }
}

// Extra large devices
@mixin breakpoint-xlarge {
  @media (min-width: $screen-xlarge-min) {
    @content;
  }
}

// Custom devices
@mixin breakpoint-custom($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

@mixin section-width {
  @include breakpoint-medium {
    width: 60rem;
  }

  @include breakpoint-large {
    width: 80rem;
  }
}
