@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@300&display=swap");

$font-stack: Helvetica, sans-serif;
$color-text: #333;
$color-primary: #f35321;
$color-primary-very-translucent: #f3532122;
$color-primary-translucent: #f3532188;
$background-color: #eaeaea;
$color-card: #f8f8f8;

$font-size-small: 1.8em;
$font-size-medium: 2.4em;
$font-size-big: 3.6em;
$font-size-huge: 4.8em;

$font-family-primary: "Abel", sans-serif;
$font-family-secondary: "Roboto", sans-serif;
